<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicios de Python</title>
</head>

<body>
    <nav>
        <div>
            <a href="{{url_for('home')}}">Menu Principal</a>
            <button>
                <span></span>
            </button>
            <div>
                <ul>
                    <li>
                        <a href="#">Información</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    {% block content %}

    {% endblock %}

</body>

</html>